.3_13 { 
	overflow:hidden;
}.e3_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e3_14 { 
	background-color:rgba(21.604160629212856, 1.1702198814600706, 1.1702198814600706, 1);
	width:1411px;
	height:152px;
	position:absolute;
	left:15px;
	top:19px;
}.e3_15 { 
	background-color:rgba(246.8541643023491, 121.71279653906822, 234.34002220630646, 1);
	width:689px;
	height:546px;
	position:absolute;
	left:32px;
	top:217px;
}.e3_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:659px;
	height:238px;
	position:absolute;
	left:737px;
	top:246px;
}.e3_17 { 
	background-color:rgba(238.35415720939636, 174.46202963590622, 216.6308292746544, 1);
	width:1329px;
	height:182px;
	position:absolute;
	left:37px;
	top:796px;
}.e3_19 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:99px;
	position:absolute;
	left:769px;
	top:540px;
	font-family:Itim;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e3_20 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:91px;
	position:absolute;
	left:53px;
	top:54px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}